target/
!.mvn/wrapper/maven-wrapper.jar
/static
/templates

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Custom ###
*.log
debug_log.txt
debug_log_utf8.txt
run_output.txt
run_output_utf8.txt
.env

# Backups and SQL files
*.sql
